@model WebApplication2.Models.ApplicationRole

<h4>Application Role</h4>
<hr />
<div class="row">
    <div class="col-md-6 text-center" >
        <form asp-action="Edit" data-ajax="true" data-ajax-method="Post" data-ajax-update="#MyGetAll" data-ajax-mode="replace" data-ajax-success="fun2()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-lg-12 col-lg-offset-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12 col-lg-offset-6">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group col-lg-12 col-lg-offset-6">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

