
@{
    ViewData["Title"] = "Index";
    Layout = "_LoginLayout";
}


<div class="container">
    <div class="col-xs-4 bg-info">
        <partial name="ImageDiv" />
    </div>

    <div class="col-xs-8 bg-danger">
        posts
    </div>

</div>
