@{
    ViewData["Title"] = "Index";
    //Layout = "_LoginLayout";
}


<div class="container">
    <div class="col-xs-4 bg-info">
        @*<div id="MyGetAll">
                <partial name="ImageDiv" model=ViewBag.img />
            </div>*@
        <div>
            <div id="MyInFoGetAll">
                <partial name="getinfo" model=ViewBag.user />
            </div>
        </div>
        <div>
            Abdo
        </div>
    </div>
    <div class="col-xs-8 bg-danger">
        <partial name="AddPost">
            <div id="AllData">
                <partial name="GetALL" model=ViewBag.posts>

            </div>
    </div>

</div>
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditData">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="Createmodal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">edit</h5>

            </div>
            <div class="modal-body">
                <div id="CreateData">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="EditmodalPosts" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">edit</h5>

            </div>
            <div class="modal-body">
                <div id="EditPostData">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        function fun2() {
            $("#EditModal").modal("toggle")
        }

        function successCreate() {
            $("#Createmodal").modal("toggle");
        }

        function openModalLikes() {
            $("#Createmodal").modal("toggle");

        }

        function successEdit() {
            $("#EditModal").modal("toggle");
        }
            //function successEdit() {
            //    $("#EditmodalPosts").modal("toggle");
            //}
    </script>
}