@{
    ViewData["Title"] = "Index";
    //Layout = "_LoginLayout";
}

<div id="MyGetAll">
    <partial name="ImageDiv" model="@Model"/>
</div>
<div class="container">
    <div class="col-xs-4 bg-info">
        <div>
            lol
        </div>
        <div class="table-bordered">
            <label asp-for=@Model.UserName></label>
          
        </div>
        <div>
            Abdo
        </div>
    </div>
    <div class="col-xs-8 bg-danger">
        posts
    </div>

</div>
@section Scripts
    {
    <script>
        function fun2() {
            $("#EditModal").modal("toggle")
        }
    </script>
}