@model WebApplication2.Models.ApplicationUser
@{
    ViewData["Title"] = "Index";
    Layout = "_LoginLayout";
}


<div class="container">
    <div class="col-xs-4 bg-info">
        <div>
            lol
        </div>
        <div>
            Mano
        </div>
        <div>
            Abdo
        </div>
    </div>
    <div class="col-xs-8 bg-danger">
        posts
    </div>

</div>
