@model WebApplication2.Models.Post
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPost" data-ajax="true" data-ajax-method="post" data-ajax-update="#AllData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="post" class="btn btn-default" placeholder="what's on your mind..."/>
            </div>
        </form>
    </div>
</div>
