@{
    //ViewData["Title"] = "Index";
}

<h2>Index</h2>
<partial name="AddPost">

    <div id="AllData">
        <partial name="GetALL" model=ViewBag.posts>

    </div>

    <div id="Createmodal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">edit</h5>

                </div>
                <div class="modal-body">
                    <div id="CreateData">

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="Editmodal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">edit</h5>

                </div>
                <div class="modal-body">
                    <div id="EditData">

                    </div>
                </div>

            </div>
        </div>
    </div>


    @section Scripts
        {
        <script>
            function successCreate() {
                $("#Createmodal").modal("toggle");
            }

            //function successEdit() {
            //    $("#Editmodal").modal("toggle");
            //}
        </script>

    }



