@model ApplicationUser
@{
    ViewData["Title"] = "Seting";
}


<div class="container">

    <br />
    <div class="row"  id="formEdit">
        <partial name="Edit" model="Model"/>
    </div>
    <a   class="btn btn-warning" href="~/AdminSetting/ChangePassword" > Change Password</a>
   
 
</div>

